.pokedex {
    padding-bottom: 25px;
}

.poke-header {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 10px;

    & h3 {
        text-align: center;
    }

    & div {
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}